.animate-card-1 {
	opacity: 0;
	transform: translateX(-30px);
	transition: opacity 0.5s, transform 0.5s;
}

.animate-card-1.show {
	opacity: 1;
	transform: translateX(0);
}

.animate-card-2 {
	opacity: 0;
	transform: translateY(-20px);
	transition: opacity 0.5s, transform 0.5s;
}

.animate-card-2.show {
	opacity: 1;
	transform: translateY(0);
}

.animate-card-3 {
	opacity: 0;
	transform: translateX(30px);
	transition: opacity 0.5s, transform 0.5s;
}

.animate-card-3.show {
	opacity: 1;
	transform: translateX(0);
}

.slide-in-bck-center {
	animation: slide-in-bck-center 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-bck-center {
	0% {
		transform: translateZ(600px);
		opacity: 0;
	}
	100% {
		transform: translateZ(0);
		opacity: 1;
	}
}

.bounce-in-top {
	animation: bounce-in-top 1.1s both;
}

@keyframes bounce-in-top {
	0% {
		transform: translateY(-500px);
		animation-timing-function: ease-in;
		opacity: 0;
	}
	38% {
		transform: translateY(0);
		animation-timing-function: ease-out;
		opacity: 1;
	}
	55% {
		transform: translateY(-65px);
		animation-timing-function: ease-in;
	}
	72% {
		transform: translateY(0);
		animation-timing-function: ease-out;
	}
	81% {
		transform: translateY(-28px);
		animation-timing-function: ease-in;
	}
	90% {
		transform: translateY(0);
		animation-timing-function: ease-out;
	}
	95% {
		transform: translateY(-8px);
		animation-timing-function: ease-in;
	}
	100% {
		transform: translateY(0);
		animation-timing-function: ease-out;
	}
}
