@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aguafina+Script&display=swap');

:root {
	--yellow: #ffcc19;
	--red: #c33130;
	--red-second: #a42828;
	--red-third: #d34343;
	--green: #00833e;
	--green-second: #006a32;
	--black: #212121;
	--black-second: #464646;
	--white: #fff;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Barlow Condensed', sans-serif;
	list-style: none;
	text-decoration: none;
}

body {
	overflow-x: hidden;
}

.first-section {
	height: 100vh;
	background-image: url('../img/background_burguer.jpg');
	background-size: cover;
	background-position: center;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 2rem 15rem;
	width: 100%;
	transition: all 0.5s;
}

.nav-menu {
	display: flex;
	align-items: center;
	gap: 1.5rem;
	font-size: 1.2rem;
}

.nav-item a {
	color: var(--white);
	text-transform: uppercase;
	font-weight: 500;
	transition: 0.3s;
}

.nav-item a:hover {
	opacity: 60%;
}

.navbar-logo {
	width: 135px;
	height: 97px;
	cursor: pointer;
	object-fit: cover;
}

.nav-menu-options {
	display: flex;
	align-items: center;
}

.nav-menu-options:nth-child(1) {
	display: flex;
	align-items: center;
}

.nav-menu .search {
	display: flex;
	gap: 1px;
	color: var(--white);
	font-size: 1rem;
}

.nav-menu .search i {
	font-size: 1.3rem;
}

.search-input {
	border: none;
	outline: none;
	background: none;
	color: var(--white);
	width: 50px;
}

.search-input::placeholder {
	color: var(--white);
}

.login-btn {
	display: flex;
	align-items: center;
	font-weight: 500;
	background-color: var(--red);
	color: var(--white);
	width: auto;
	height: 24px;
	outline: none;
	border-radius: 10px;
	margin-right: 20px;
	padding: 22px 40px;
	cursor: pointer;
	transition-duration: 0.3s;
}

.login-btn:hover {
	background-color: var(--red-second);
}

.shop-cart {
	background-color: var(--green);
	padding: 8px 10px;
	border-radius: 10px;
	cursor: pointer;
	transition-duration: 0.3s;
}

.shop-cart:hover {
	background-color: var(--green-second);
}

.shop-cart img {
	width: 24px;
	height: 24px;
}

.content {
	position: relative;
}

.content-title {
	position: absolute;
	top: 12rem;
	left: 15%;
}

.content-title h3 {
	color: var(--yellow);
	font-weight: 700;
	font-size: 28px;
	line-height: 36px;
	margin-bottom: 10px;
}

.content-title div:first-of-type {
	color: var(--white);
	font-weight: 700;
	font-size: 50px;
	line-height: 90px;
	margin-left: -5px;
	margin-bottom: 10px;
}

.content-title h5 {
	color: var(--white);
	font-weight: 200;
	font-size: 20px;
	line-height: 24px;
	width: 24rem;
	margin-bottom: 25px;
}

.content-title div:last-of-type {
	display: flex;
	align-items: center;
	text-align: center;
	font-weight: 500;
	background-color: var(--green);
	color: var(--white);
	width: 10rem;
	height: 24px;
	outline: none;
	border-radius: 10px;
	padding: 23px 47px;
	cursor: pointer;
	transition-duration: 0.3s;
}

.content-title div:last-of-type:hover {
	background-color: var(--green-second);
}

.big-burger-group {
	position: relative;
	left: 9%;
}

.big-burger-contents {
	position: relative;
	text-align: center;
}

.big-burger-contents .burger-title {
	color: var(--yellow);
	font-family: 'Aguafina Script', cursive;
	font-weight: 400;
	line-height: 232.05px;
	font-size: 80px;
	position: absolute;
	top: -20px;
	left: 47%;
	transform: rotate(-20deg);
}

.big-burger-contents .burger {
	max-width: 100%;
	width: 500px;
	height: 500px;
	position: absolute;
	top: 25px;
	left: 45%;
}

.big-burger-contents .sale {
	width: 100px;
	height: 100px;
	position: absolute;
	top: 30px;
	left: 70%;
	object-fit: fill;
	transform: rotate(20deg);
}

.big-burger-contents .mushroom-1 {
	width: 40px;
	height: 40px;
	position: absolute;
	top: 15rem;
	left: 45%;
	object-fit: fill;
	transform: rotate(-60deg);
}

.big-burger-contents .mushroom-2 {
	width: 50px;
	height: 50px;
	position: absolute;
	top: 25rem;
	left: 45%;
	object-fit: fill;
	transform: rotate(20deg);
}

.second-section {
	position: relative;
	background: #f1f1f1;
	/* height: 100vh; */
	/* height: 100rem; */
	padding-top: 6rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.second-section-decorations img:first-of-type {
	position: absolute;
	object-fit: fill;
	scale: 0.7;
	top: 2rem;
	left: -2.5rem;
}

.second-section-decorations img:last-of-type {
	position: absolute;
	object-fit: fill;
	scale: 0.6;
	top: 1.5rem;
	right: -4rem;
}

.second-section-descriptions {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.second-section-descriptions h4 {
	font-weight: 700;
	font-size: 18px;
	line-height: 21.6px;
	color: var(--red);
	margin-bottom: 1rem;
}

.second-section-descriptions h1 {
	font-weight: 800;
	font-size: 50px;
	line-height: 50px;
	text-align: center;
	max-width: 24rem;
}

.card-bgr {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 18rem;
	height: auto;
	border-radius: 45px;
	transition: 0.3s;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
}

.card-bgr:hover {
	background-color: #ffffff;
}

.card-bgr-img img {
	scale: 0.7;
	border-radius: 50%;
	object-fit: fill;
	transition: 0.3s;
}

.card-bgr-img img:hover {
	scale: 0.75;
}

.card-bgr-title {
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	margin-top: -1.6rem;
}

.card-bgr-description {
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	text-align: center;
	margin-top: 1rem;
}

.second-section-card-group {
	display: flex;
	gap: 4rem;
}

.second-section-card-group div:nth-child(2):not(.card-bgr-title) {
	margin-top: 4rem;
}

.third-section {
	padding-top: 5rem;
	position: relative;
	background: #f1f1f1;
	display: flex;
	/* flex-direction: column; */
	justify-content: center;
	/* align-items: center; */
}

.third-section-decorations img:first-of-type {
	position: absolute;
	object-fit: fill;
	scale: 0.7;
	top: 2rem;
	left: -2.5rem;
}

.third-section-decorations img:last-of-type {
	position: absolute;
	object-fit: fill;
	scale: 0.6;
	top: -3rem;
	right: -8rem;
}

.third-section-img {
	/* position: absolute; */
	scale: 0.7;
	margin-left: 20%;
}

.third-section-content {
	display: flex;
	margin-left: -16rem;
	gap: 2rem;
}

.third-section-content-description {
	margin-top: 7rem;
	margin-left: -5rem;
	display: flex;
	flex-direction: column;
}

.third-section-content-description h6 {
	font-weight: 700;
	font-size: 15px;
	line-height: 21.6px;
	color: var(--red);
	margin-bottom: 1rem;
}

.third-section-content-description h1 {
	font-weight: 700;
	font-size: 60px;
	line-height: 70px;
	color: var(--black);
	margin-bottom: 1rem;
}

.third-section-content-description h8 {
	font-weight: 400;
	font-size: 15px;
	line-height: 21.6px;
	color: #464646;
	max-width: 30rem;
}

.group-1 {
	display: flex;
	margin-top: 1rem;
	gap: 5rem;
}

.group-1 .card img {
	width: 50px;
	height: 50px;
}

.group-1 .card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
	font-weight: 700;
	gap: 15px;
	max-width: 110px;
	height: 121px;
}

.fourth-section {
	position: relative;
	background: #f1f1f1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.fourth-section-title {
	font-weight: 700;
	font-size: 50px;
	line-height: 70px;
	margin-bottom: 6rem;
}

.fourth-section-card-group {
	display: flex;
	gap: 4rem;
	margin-bottom: 7rem;
}

.fourth-section-btn-mn {
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	background-color: var(--green);
	color: var(--white);
	height: 24px;
	outline: none;
	border-radius: 10px;
	padding: 23px 47px;
	cursor: pointer;
	transition-duration: 0.3s;
}

.fourth-section-btn-mn:hover {
	background-color: var(--green-second);
}

.fifth-section {
	position: relative;
	background: #f1f1f1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.fifth-section-title {
	font-weight: 700;
	font-size: 50px;
	line-height: 70px;
	margin-bottom: 2rem;
}

.fifth-section .menu-buttons {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 1.5rem;
}

.menu-buttons .button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 0.5rem;
	height: 3rem;
	padding: 10px 30px;
	border-radius: 10px;
	background-color: var(--white);
	color: #464646;
	transition: 0.3s;
	cursor: pointer;
	font-weight: 700;
}

.menu-buttons .button img {
	transition: all 0.3s;
}

.menu-buttons .button i {
	scale: 2;
}

.menu-buttons .button:hover {
	background-color: var(--red);
	color: var(--white);
}

.dishes {
	display: flex;
	padding: 6rem;
	gap: 1rem;
	/* padding-bottom: 6px; */
}

.card-dishe {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	max-width: 18rem;
	height: 25rem;
	border-radius: 45px;
	transition: 0.3s;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 20px;
	background-color: #ffffff;
}

.card-dishe-img {
	height: 7rem;
}

.card-dishe-img img {
	/* position: absolute; */
	width: 900px;
	height: 900px;
	scale: 0.2;
	margin-top: -26.5rem;
	/* border-radius: 50%; */
	object-fit: fill;
	transition: 0.3s;
}

/* .card-dishe-img img:hover {
	scale: 0.75;
} */

.card-dishe-title {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
	font-weight: 700;
	font-size: 25px;
	line-height: 30px;
	/* margin-top: -1.6rem; */
}

.card-dishe-title h6 {
	align-self: flex-start;
}

.card-dishe-title i {
	align-self: flex-end;
	cursor: pointer;
}

.liked {
	color: var(--red);
}

.card-dishe-stars {
	margin-top: 15px;
	align-self: flex-start;
}

.star {
	color: var(--yellow);
}

.card-dishe-description {
	font-weight: 400;
	font-size: 15px;
	line-height: 25px;
	text-align: justify;
	margin-top: 2rem;
}

.card-dishe-footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	margin-top: 1rem;
}

.card-dishe-footer .price {
	font-weight: 700;
	font-size: 20px;
	color: var(--red);
}

.fifth-section-btn-mn {
	display: flex;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	font-weight: 500;
	background-color: var(--green);
	color: var(--white);
	height: 24px;
	outline: none;
	border-radius: 10px;
	padding: 23px 47px;
	cursor: pointer;
	transition-duration: 0.3s;
}

.fifth-section-btn-mn:hover {
	background-color: var(--green-second);
}

.sixth-section {
	position: relative;
	background: var(--red-third);
	display: flex;
	/* flex-direction: column; */
	max-height: 40rem;
	justify-content: space-between;
	align-items: center;
	gap: 5rem;
	padding-top: -10rem;
	height: 100vh;
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.sixth-section-decor {
	margin-top: -40rem;
}

.sixth-section-decor .burrito {
	position: relative;
	align-self: flex-start;
}

.sixth-section-decor .burrito-bg {
	scale: 0.7;
	position: absolute;
	left: -3rem;
}

.sixth-section-decor .leaf-1 {
	scale: 0.7;
	/* align-self: flex-start;
	margin-left: 5rem; */
	position: absolute;
	top: 7rem;
	left: 3rem;
}

.sixth-section-decor .leaf-2 {
	scale: 0.7;
	/* align-self: flex-start;
	margin-left: 5rem; */
	position: absolute;
	top: 10rem;
	left: -3.6rem;
}

.sixth-section-decor .pizza-dec {
	position: absolute;
	bottom: 0.1rem;
	left: 20rem;
	scale: 0.9;
}

.sixth-section-content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.sixth-section-content h1 {
	font-weight: 700;
	font-size: 70px;
	line-height: 80px;
	color: var(--yellow);
}

.sixth-section-content h2 {
	font-weight: 700;
	font-size: 70px;
	line-height: 90px;
	color: var(--white);
}

.sixth-section-content h6 {
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
	color: var(--white);
	max-width: 24rem;
	text-align: center;
}

#actualHour {
	margin-top: 3rem;
	font-weight: 700;
	font-size: 50px;
	line-height: 60px;
	color: var(--white);
}

.day-desc {
	display: flex;
	gap: 46px;
	margin-left: -9px;
	font-weight: 700;
	font-size: 15px;
	line-height: 19.2px;
	color: var(--white);
}

.sixth-section .burrito-2 {
	position: relative;
}

.sixth-section .burrito-2 img {
	scale: 0.7;
	margin-top: 15rem;
	margin-right: -45rem;
	margin-left: -45rem;
	padding-left: 10rem;
}

.sixth-section .burrito-2 .sale {
	scale: 0.7;
	position: absolute;
	top: 1rem;
	left: 20rem;
}

.sixth-section .tomato {
	scale: 0.7;
	position: absolute;
	top: -2.8rem;
	right: -2rem;
}

.sixth-section .mushs {
	scale: 0.7;
	position: absolute;
	top: -5rem;
	right: 10rem;
}

.seven-section {
	position: relative;
	background: #f1f1f1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-top: 6rem;
}

.seven-section .seven-section-title {
	font-weight: 700;
	font-size: 50px;
	line-height: 70px;
	margin-bottom: 2rem;
}

.seven-section .seven-section-card-group {
	display: flex;
	gap: 5.5rem;
	margin-bottom: 7rem;
}

.card-chef {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 18rem;
	height: auto;
	border-radius: 45px;
	transition: 0.3s;
}

.card-chef-img {
	position: relative;
	display: inline-block;
}

.card-chef-img img {
	width: 360px;
	height: 500px;
	border-radius: 20px;
	object-fit: cover;
	transition: filter 0.3s ease-in-out;
}

.overlay {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	background-color: rgba(0, 0, 0, 0.5);
	opacity: 0;
	transition: opacity 0.3s ease-in-out;
}

.card-chef-img:hover .overlay {
	opacity: 1;
}

.card-chef-img .icons i {
	color: var(--white);
	scale: 1.5;
	margin-left: 1rem;
	margin-right: 1rem;
	cursor: pointer;
}

.card-chef-title {
	font-weight: 700;
	font-size: 25px;
	line-height: 36px;
	color: var(--black-second);
	margin: 10px 10px;
}

.card-chef-prof {
	background-color: var(--green);
	color: var(--white);
	border-radius: 5px;
	padding: 5px 20px 5px 20px;
}

.card-chef-description {
	margin-top: 15px;
	font-weight: 400;
	font-size: 20px;
	line-height: 21.6px;
	text-align: center;
	color: var(--black-second);
}
